:root {
    --orange: #FF7324;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 4em;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

div.left-menu>a {
    margin-right: 4em;
}

div.left-menu>a:first-child {
    color: var(--orange);
}