:root {
    --gray: #222222;
    --light-gray: #dddddd;
}

p, a{
    font-size: 16px;
}

.item-row p {
    text-align: justify;
}

a.orange-link {
    color: var(--orange);
    text-decoration: none;
}

.release-date {
    margin-top: 1em;
}

div.work-links-opt {
    margin-top: 1em;
}

div.work-links-opt a {
    margin-right: 1.5em;
}

section {
    background-color: var(--gray);
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 7em;
    margin-right: 7em;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 0.8em;
}

div.item-row {
    display: grid;
    grid-template-areas: "c1 c2";
    margin-bottom: 1em;
}

div.col-1 {
    grid-area: c1;
}

div.col-1-b {
    grid-area: c2;
}

.item-row {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(221, 221, 221, 0.1);
    border-radius: 0.7em;
    padding: 2em;
}

div.col-1 > h2, div.col-1-b > h2 {
    margin-bottom: 0.7em;
}

div.col-2 {
    grid-area: c2;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.col-2-b {
    grid-area: c1;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.col-2 > img, div.col-2-b > img {
    width: 50%;
    height: auto;
}

footer {
    text-align: center;
    background-color: rgb(27, 27, 27);
    margin-left:  -2em;
    margin-right: -2em;
    border-radius: 0 0 1em 1em;
    padding: 0.5em;
}

@media screen and (max-width: 400px) {
    section {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {

    div.item-row {
        display: grid;
        grid-template-areas: "r1"
                                            "r2";
    }

    div.col-1, div.col-1-b {
        grid-area: r1;
    }

    div.col-2, div.col-2-b{
        grid-area: r2;
    }

    div.col-2 > img, div.col-2-b > img {
        width: 100%;
        margin-top: 1em;
    }
}