:root {
    --gray: #222222;
    --light-gray: #dddddd;
}

section {
    background-color: var(--gray);
    /* margin-top: 1em; */
    margin-bottom: 1em;
    margin-left: 7em;
    margin-right: 7em;
    border-radius: 1em;
    padding: 2em;
    font-size: 0.8em;
}

div.item-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text img";
    margin-bottom: 1em;
}

div.col-1 {
    grid-area: text;
}

.item-row {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(221, 221, 221, 0.1);
    border-radius: 0.7em;
    padding: 2em;
}

div.col-1 > h2, div.col-1-b > h2 {
    margin-bottom: 0.7em;
}

div.col-2 {
    grid-area: img;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.col-2-b {
    grid-area: text;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.col-2 > img, div.col-2-b > img {
    width: 50%;
    height: auto;
}